{% extends "parent_layout.html" %}
{% set active_page = "createboard" %}
{% block content %}

<!-- This is the admin page where admin can delete board, delete post, and add/remove admins. -->
<!-- Admins can also purge boards older than x days, and purge posts in a board older than x days -->

<h3>Admin page</h3>

<br>

<p>Admin list:</p>
<p id="adminm-list">No admins</p>

<br>

<label for="input-admin">Enter admin name:</label>
<input type="text" id="input-admin" />

<br>

<button id="add-admin">Add Admin</button> |
<button id="rem-admin">Remove Admin</button> |
<button id="refresh-admin">Refresh Admins</button>

<br><br><hr><br>

<label for="input-board">Enter board:</label>
<input type="text" id="board-input-id" />

<label for="input-post">Enter post:</label>
<input type="text" id="post-input-id" />

<label for="input-comment">Enter comment:</label>
<input type="text" id="comment-input-id" />

<br>

<button id="delete-board">Delete Board</button> |
<button id="delete-post">Delete Post</button> |
<button id="delete-comment">Delete Comment</button>

<script>
    $(document).ready(function () {

        document.getElementById("add-admin").addEventListener("click", function () {
            let succ = function () {
                refreshAdmins();
                display_info("Administrator added.");
            }
            let error = function (err) {
                display_error("Failed to add administrator: " +  + err.responseJSON.error)
            }
            add_admin(document.getElementById("input-admin").value, succ, error);
        });

        document.getElementById("rem-admin").addEventListener("click", function () {
            let succ = function () {
                refreshAdmins();
                display_info("Administrator removed.");
            }
            let error = function (err) {
                display_error("Failed to remove administrator: " +  + err.responseJSON.error)
            }
            remove_admin(document.getElementById("input-admin").value, succ, error);
        });

        function refreshAdmins() {
            let succ = function (data) {
                document.getElementById("adminm-list").innerHTML = data;
            }
            let error = function (err) {
                display_error("Failed to refresh admins list: " +  + err.responseJSON.error)
                document.getElementById("adminm-list").innerHTML = "Error occurred getting admins";
            }
            fetch_admins(succ, error);
        }

        document.getElementById("delete-board").addEventListener("click", function () {
            let succ = function () {
                display_info("Board removed.");
            }
            let error = function (err) {
                display_error("Failed to remove board: " +  + err.responseJSON.error);
            }
            delete_board(document.getElementById("board-input-id").value, succ, error);
        });

        document.getElementById("delete-post").addEventListener("click", function () {
            let succ = function () {
                display_info("Post removed.");
            }
            let error = function (err) {
                display_error("Failed to remove post: " +  + err.responseJSON.error);
            }
            delete_post(document.getElementById("board-input-id").value, document.getElementById("post-input-id").value, succ, error);
        });

        document.getElementById("delete-comment").addEventListener("click", function () {
            let succ = function () {
                display_info("Comment removed.");
            }
            let error = function (err) {
                display_error("Failed to remove comment: " + err.responseJSON.error);
            }
            delete_comment(document.getElementById("post-input-id").value, document.getElementById("comment-input-id").value, succ, error);
        });

        document.getElementById("refresh-admin").addEventListener("click", refreshAdmins);

        refreshAdmins();
    });
</script>

{% endblock %}
