{% extends "parent_layout.html" %}
{% set active_page = "createboard" %}
{% block content %}

<!-- This is the admin page where admin can delete board, delete post, and add/remove admins. -->

<section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12">
	<h1 class="relative text-center font-bold text-3xl md:text-4xl lg:text-5xl font-heading mb-20">
		tac administration
	</h1>
	<section class="grid grid-cols-1 sm:grid-cols-2 gap-16 place-items-center">
		<div class="w-full max-w-md h-full py-4 px-8 bg-nav_grey shadow-lg rounded-lg flex flex-col">
			<h3 class="font-bold text-jade text-2xl text-center">Manage Content</h3>
			<h6 class="pb-2 text-red-500 text-md text-center">Warning: Board & Post Deletion Is IRREVERSIBLE</h6>
			<h6 class="pb-2 text-blue-500 text-xs text-center"><span class="text-green-500">Board and Post IDs</span> are found in the URL of their respective pages.</h6>
			<h6 class="pb-2 text-blue-400 text-xs text-center overflow-clip">board URL example: tac.idsos.org/viewboard.html?board=<span class="text-green-500">619d70a7479b8ed1bf94e4dd</span></h6>
			<h6 class="pb-4 text-blue-400 text-xs text-center overflow-clip">post URL example: tac.idsos.org/viewpost.html?board=619d70a7479b8ed1bf94e4dd&post=<span class="text-green-500">61a714d23f7b3e1558970781</span></h6>
            <div class="relative w-full mb-3">
				<input type="text" id="board-input-id" class="border-0 p-4 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full" placeholder="Board ID" style="transition: all 0.15s ease 0s;" />
				<small class="p-2">Board ID</small>
			</div>

			<div class="relative w-full mb-3">
				<input type="text" id="post-input-id" class="border-0 p-4 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full" placeholder="Post ID" style="transition: all 0.15s ease 0s;" />
				<small class="p-2">Post ID</small>
			</div>

			<div class="relative w-full mb-3">
				<input type="text" id="admin-input-id" class="border-0 p-4 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full" placeholder="Admin username" style="transition: all 0.15s ease 0s;" />
				<small class="p-2">Admin username</small>
			</div>


			<div class="relative w-full mb-3 pt-6">
				<fieldset class="mb-5 grid grid-cols-1 sm:grid-cols-2">
					<div class="flex items-center mb-4">
						<input id="rb-delete-board" type="radio" name="admin-action" value="Delete board" class="h-4 w-4 border-gray-300 focus:ring-2 focus:ring-blue-300" aria-labelledby="rb-delete-board" aria-describedby="rb-delete-board" checked>
						<label for="rb-delete-board" class="text-sm font-medium text-gray-900 ml-2 block">Delete board</label>
					</div>
					<div class="flex items-center mb-4">
						<input id="rb-delete-post" type="radio" name="admin-action" value="Delete post" class="h-4 w-4 border-gray-300 focus:ring-2 focus:ring-blue-300" aria-labelledby="rb-delete-post" aria-describedby="rb-delete-post">
						<label for="rb-delete-post" class="text-sm font-medium text-gray-900 ml-2 block">Delete post</label>
					</div>
					<div class="flex items-center mb-4">
						<input id="rb-add-admin" type="radio" name="admin-action" value="Add admin" class="h-4 w-4 border-gray-300 focus:ring-2 focus:ring-blue-300" aria-labelledby="rb-add-admin" aria-describedby="rb-add-admin">
						<label for="rb-add-admin" class="text-sm font-medium text-gray-900 ml-2 block">Add admin</label>
					</div>
					<div class="flex items-center mb-4">
						<input id="rb-remove-admin" type="radio" name="admin-action" value="Delete post" class="h-4 w-4 border-gray-300 focus:ring-2 focus:ring-blue-300" aria-labelledby="rb-remove-admin" aria-describedby="rb-remove-admin">
						<label for="rb-remove-admin" class="text-sm font-medium text-gray-900 ml-2 block">Remove admin</label>
					</div>
				</fieldset>
			</div>

            <button id="btn-admin-action" class="float-center text-xl font-medium text-chardonnay hover:text-medium_aquamarine">Submit Changes</button>

		</div>

		<div class="w-full max-w-md h-full py-4 px-8 bg-nav_grey shadow-lg rounded-lg flex flex-col">

			<h3 class="font-bold pb-12 text-jade text-2xl text-center">Admin List</h3>

            <div class="relative w-full mb-3 flex flex-grow">
                <textarea disabled id="admin-list" type="text" style="resize: none" class="flex-grow w-full max-w-md leading-none p-3 border bg-white rounded border-gray-200">Andistar12</textarea>
			</div>

            <button id="btn-refresh-admins" class="float-center text-xl font-medium text-chardonnay hover:text-medium_aquamarine">Refresh List</button>

		</div>
	</section>
</section>

<script src="/static/js/admin.js"></script>

{% endblock %}
