{% extends "parent_layout.html" %}
{% set active_page = "createboard" %}
{% block content %}

<!-- This is the admin page where admin can delete board, delete post, and add/remove admins. -->
<!-- Admins can also purge boards older than x days, and purge posts in a board older than x days -->

<h3>Admin page</h3>

<br>

<p>Admin list:</p>
<p id="adminm-list">No admins</p>

<br>

<label for="input-admin">Enter admin name:</label>
<input type="text" id="input-admin" />

<br>

<button id="add-admin">Add Admin</button> |
<button id="rem-admin">Remove Admin</button> |
<button id="refresh-admin">Refresh Admins</button>

<br><br><hr><br>

<label for="input-board">Enter board:</label>
<input type="text" id="board-input-id" />

<label for="input-post">Enter post:</label>
<input type="text" id="post-input-id" />

<label for="input-comment">Enter comment:</label>
<input type="text" id="comment-input-id" />

<br>

<button id="delete-board">Delete Board</button> |
<button id="delete-post">Delete Post</button> |
<button id="delete-comment">Delete Comment</button>

<script src="/static/js/admin.js"></script>

{% endblock %}
