{% extends "parent_layout.html" %}
{% set active_page = "createboard" %}
{% block content %}

<!-- This is the create board page where user enters board name and description and vote threshold integer percent, then submits. -->

<h3>Create a board!</h3>

<input type="text" id="board-name" placeholder="Board Name">
<input type="text" id="board-desc" placeholder="Description of Board">
<input type="number" id="board-threshold" placeholder="Vote threshold">
<button id="submit-board">Submit!</button>

<script>
    $(document).ready(function () {
        document.getElementById("submit-board").addEventListener("click", function() {
            let succ = function(data) {
                let board_id = data.board_id;
                let btn_success = function(data) {
                    window.location.href = $SCRIPT_ROOT + "/viewboard.html?board=" + board_id;
                };
                let btn_error = function() {
                    display_error("The board has been created, but an error occurred subscribing you to it");
                };
                subscribe_board(board_id, btn_success, btn_error);
            }
            let err = function(err) {
                display_error("Error creating board: " + get_error(err));
            }
            display_info("Creating board...");
            create_board(document.getElementById("board-name").value, document.getElementById("board-desc").value, document.getElementById("board-threshold").value, succ, err);
        });
    });
</script>

{% endblock %}
