{% extends "parent_layout.html" %}
{% set active_page = "createboard" %}
{% block content %}

<!-- This is the create board page where user enters board name and description and vote threshold integer percent, then submits. -->

<section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12">
    <div class="text-center">
        <h1 class="font-bold text-3xl md:text-4xl lg:text-5xl font-heading">
            Create a New Board
        </h1>
    </div>
    <div class="justify-center">
        <div class="py-5 px-8 bg-nav_grey shadow-lg rounded-lg my-20 flex flex-col">
            <div class="relative w-full mb-4">
                <h3 class="font-bold">Board Name (1-25 Characters)</h3>
                <input type="text" id="board-name" class="transition duration-420 ease-in-out border-2 border-jade hover:border-medium_aquamarine focus:border-chardonnay h-12 px-5 pr-16 rounded-md focus:outline-none w-full text-black text-lg shadow" placeholder="Board Name">
            </div>
            <div class="relative w-full mb-4">
                <h3 class="font-bold">Board Description (1-25 Characters)</h3>
                <input type="text" id="board-desc" class="transition duration-420 ease-in-out border-2 border-jade hover:border-medium_aquamarine focus:border-chardonnay h-12 px-5 pr-16 rounded-md focus:outline-none w-full text-black text-lg shadow" placeholder="Description of Board">
            </div>
            <div class="relative w-full mb-4">
                <h3 class="font-bold">Board Vote Threshold (1-100%)</h3>
                <input type="number" id="board-threshold" class="transition duration-420 ease-in-out border-2 border-jade hover:border-medium_aquamarine focus:border-chardonnay h-12 px-5 pr-16 rounded-md focus:outline-none w-full text-black text-lg shadow" placeholder="Vote Threshold Percentage">
            </div>
            <div class="text-center mt-6">
                <input type="submit" name="submit-board" id="submit-board" value="Create Board" class="transition duration-420 ease-in-out p-3 rounded-lg bg-jade hover:bg-chardonnay outline-none text-white shadow justify-center focus:bg-chardonnay cursor-pointer">
            </div>
        </div>
    </div>
</section>

<script src="/static/js/createboard.js"></script>

{% endblock %}
