{% extends "parent_layout.html" %}
{% set active_page = "findboard" %}
{% block content %}

<!-- This is the find board page where user can browse boards and search for boards and subscribe to boards. -->

<!-- list boards here in somesort of grid-->

<section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12" id="findboard_header">
    <div class="text-center pb-12 pt-2 relative">
        <h1 class="font-bold text-3xl md:text-4xl lg:text-5xl font-heading">
            Find a Board
        </h1>
        <br>
        <div class="flex relative mx-auto max-w-md">
            <input class="transition duration-420 ease-in-out border-2 border-jade hover:border-medium_aquamarine focus:border-chardonnay h-12 px-5 pr-16 rounded-md focus:outline-none w-full text-black text-lg" id="board-search-query" type="search" name="search" placeholder="Search" />
            <button type="submit" id="submit-board-search" class="absolute right-2 top-3 mr-4">
                <svg class="transition duration-420 ease-in-out text-jade hover:text-chardonnay h-6 w-6 fill-current hover:fill-chardonnay" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 56.966 56.966" style="background:new 0 0 56.966 56.966;" xml:space="preserve" width="512px" height="512px">
                <path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
                </svg>
            </button>
        </div>
    </div>
    <div class="grid place-items-center grid-cols-1 sm:grid-cols-1  md:grid-cols-2 lg:grid-cols-3 gap-4 justify-center" id="findboard_section"></div>
    <div id="noboards_div" class="pt-4 w-full rounded-lg justify-center" style="display: none;">
        <p class="text-center font-bold text-xl md:text-2xl lg:text-3xl">
            No boards found. Click "Create a Board" to make a new board!
        </p>
    </div>
</section>

<!-- Define the template for an arbitrary board -->
<template id="findboard_template">
    <div class="w-full max-w-sm py-4 px-8 bg-nav_grey shadow-lg rounded-lg h-36 grid-flow-col justify-center">
        <div class="h-16">
            <h3 class="text-jade truncate text-3xl font-semibold">Temp Board Name</h3>
            <p class="mt-2 truncate font-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dolores deserunt ea doloremque natus error, rerum quas odio quaerat nam ex commodi hic, suscipit in a veritatis pariatur minus consequuntur!</p>
        </div>
        <div class="flow-root mt-4">
            <button class="transition duration-420 ease-in-out mb-4 float-left text-xl font-medium text-chardonnay hover:text-medium_aquamarine">Subscribe</button>
            <a href="#" class="transition duration-420 ease-in-out mb-4 float-right text-xl font-medium text-chardonnay hover:text-medium_aquamarine">View &#8594;</a>
        </div>
        </div>
</template>

<!-- Define the template for having no boards -->
<template id="findboard_noboards">
    <div class="pt-4 w-full rounded-lg justify-center">
        <p class="text-center font-bold text-xl md:text-2xl lg:text-3xl">
            No boards found. Click "Create a Board" to make a new board!
        </p>
    </div>
</template>

<!-- Javascript to load the boards-->
<script src="/static/js/findboard.js"></script>

{% endblock %}
