{% extends "parent_layout.html" %}
{% set active_page = "findboard" %}
{% block content %}

<!-- This is the find board page where user can browse boards and search for boards and subscribe to boards. -->

<!-- list boards here in somesort of grid-->

<section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12">
    <div class="text-center pb-12">
        <h1 class="font-bold text-3xl md:text-4xl lg:text-5xl font-heading">
            Find a Board
        </h1>
        <input type="text" id="board-search-query" placeholder="Search for boards">
        <button id="submit-board-search">Submit!</button>
    </div>
    <div class="grid place-items-center grid-cols-1 sm:grid-cols-2  md:grid-cols-2 lg:grid-cols-3 gap-4 xl:grid-cols-4 justify-center" id="findboard_section"></div>
</section>

<!-- Define the template for an arbitrary board -->
<template id="findboard_template">
    <div class="w-full max-w-md py-4 px-8 bg-nav_grey shadow-lg rounded-lg my-20 flex flex-col justify-center">
        <div>
            <h3 class="text-jade text-3xl font-semibold">Temp Board Name</h3>
            <p class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dolores deserunt ea doloremque natus error, rerum quas odio quaerat nam ex commodi hic, suscipit in a veritatis pariatur minus consequuntur!</p>
        </div>
        <div class="flow-root mt-4">
            <button class="float-left">Subscribe</button>
            <a href="#" class="float-right text-xl font-medium text-chardonnay">View -></a>
        </div>
        </div>
</template>

<!-- Define the template for having no boards -->
<template id="findboard_noboards">
    <div class="w-full max-w-md bg-nav_grey rounded-lg justify-center">
        <p>
            No boards found.
        </p>
    </div>
</template>

<!-- Javascript to load the boards-->
<script>
    $(document).ready(function () {
        if ('content' in document.createElement('template')) {

            let offset = 0;

            // Find parent section and template child to clone
            let sec = document.querySelector("#findboard_section");
            let template = document.querySelector("#findboard_template")

            // Define success function
            let success = function(data) {
                if (offset === 0) sec.innerHTML = "";
                if (data.length <= 0) {
                    // No boards
                    sec.appendChild(document.querySelector("#findboard_noboards").content.cloneNode(true));
                } else {
                    data.forEach(function(board) {

                        let board_id = board["_id"]["$oid"];

                        let b_succ = function(data) {
                            // Setup board
                            let clone = template.content.cloneNode(true);
                            let title = clone.querySelector("h3");
                            title.innerHTML = data["board_name"];
                            let desc = clone.querySelector("p");
                            desc.innerHTML = data["board_description"];
                            let link = clone.querySelector("a");
                            link.href = "/viewboard.html?board=" + board_id;
                            let btn = clone.querySelector("button");
                            btn.addEventListener("click", function() {
                                btn.disabled = true;
                                btn.style.pointerEvents = "none";
                                let btn_success = function(data) {
                                    btn.innerHTML = "Subscribed!";
                                };
                                let btn_error = function() {
                                    display_error("An error occurred subscribing. Reload the page?");
                                    btn.innerHTML = "Error";
                                };
                                subscribe_board(board_id, btn_success, btn_error);
                            });

                            // Add board to layout
                            sec.appendChild(clone);
                        };

                        let b_error = function() {
                            // Setup board
                            let clone = template.content.cloneNode(true);
                            let title = clone.querySelector("h3");
                            title.innerHTML = "Error";
                            let desc = clone.querySelector("p");
                            desc.innerHTML = "An error occurred fetching this board information";
                            let link = clone.querySelector("a");
                            link.href = "/viewboard.html?board=" + board_id;

                            // Add board to layout
                            sec.appendChild(clone);
                        };

                        fetch_board(board_id, b_succ, b_error);

                    });
                }
            };

            // Define error function
            let error = function() {
                display_error("An error occurred fetching boards. Reload the page?");
            };

            function do_search() {
                let query = document.getElementById("board-search-query").value;
                if (query === "") query = ".*";
                else {
                    // Construct regex using all search words
                    query = "\\b(" + query.split(" ").join("|") + ")\\b"
                }

                fetch_boards(query, offset, success, error);
            }

            document.getElementById("submit-board-search").addEventListener("click", function () {
                offset = 0;
                do_search();
            });

            // Do board fetch
            do_search();
        }
    });
</script>

{% endblock %}
