{% extends "parent_layout.html" %}
{% set active_page = "home" %}
{% block content %}

<!-- This is the home page where we display generic information about the website. -->
<div class="min-h-screen bg-gradient-to-b from-jade via-madang to-chardonnay">
    <section class="max-w-6xl xl mx-auto px-4 sm:px-6 lg:px-4 py-12">
        <div class="text-center pb-12">
            <h1 class="text-nav_grey font-bold text-3xl md:text-4xl lg:text-5xl font-heading inline">
                Welcome to <span class="text-chardonnay">tac</span> 
            </h1>
            <br>
            <br>
            <img src="static/images/tac_logo_icon.png" class="h-12 w-auto pr-1 animate animate-bounce mx-auto">
            <h1 class="text-center text-nav_grey font-bold text-xl md-text-2xl lg:text:3xl font-heading pt-12">
                What is tac?
            </h1>
        </div>
    </section>
</div>


{% endblock %}
