{% extends "parent_layout.html" %}
{% set active_page = "makepost" %}
{% block content %}

<!-- This is the page for when a user wants to make a post. Subject, description, submit. -->

<section id="makepost_content" hidden class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12">
    <a id="board-link" href="viewboard.html" class="transition duration-420 ease-in-out text-chardonnay hover:text-medium_aquamarine font-bold">&#8592; Go Back</a>
    <div class="text-center">
        <h1 class="font-bold text-3xl md:text-4xl lg:text-5xl font-heading">
            Create a New Post in <span id="board_name" class="text-jade">[unknown board]</span>
        </h1>
    </div>
    <div class="justify-center">
        <div class="py-5 px-8 bg-nav_grey shadow-lg rounded-lg my-20 flex flex-col">
            <div class="relative w-full mb-4">
                <h3 class="font-bold">Subject</h3>
                <input type="text" id="makepost_subject" class="transition duration-420 ease-in-out border-2 border-jade hover:border-medium_aquamarine focus:border-chardonnay h-12 px-5 pr-16 rounded-md focus:outline-none w-full text-black text-lg shadow" placeholder="Post Subject">
            </div>
            <div class="relative w-full mb-4">
                <h3 class="font-bold">Description</h3>
                <textarea type="text" rows="4" id="makepost_desc" class="transition duration-420 ease-in-out h-28 border-2 border-jade hover:border-medium_aquamarine focus:border-chardonnay px-5 pr-16 rounded-md focus:outline-none w-full text-black text-lg shadow leading-loose" placeholder="Post Description"></textarea>
            </div>
            <div class="text-center mt-6">
                <input type="submit" name="submit-post" id="makepost_submit" value="tac it" class="transition duration-420 ease-in-out p-3 rounded-lg bg-jade hover:bg-chardonnay outline-none text-white shadow justify-center focus:bg-chardonnay cursor-pointer">
            </div>
        </div>
    </div>
</section>

<script src="/static/js/makepost.js"></script>

{% endblock %}
