{% extends "parent_layout.html" %}
{% set active_page = "myboards" %}
{% block content %}

<!-- This is the user board page where we display all boards user is subscribed to. Allow to unsubscribe from board. -->

<section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12">
    <div class="text-center pb-12">
        <h1 class="font-bold text-3xl md:text-4xl lg:text-5xl font-heading">
            My Boards
        </h1>
    </div>
    <div class="grid place-items-center grid-cols-1 sm:grid-cols-2  md:grid-cols-2 lg:grid-cols-3 gap-4 xl:grid-cols-4 justify-center" id="myboard_section"></div>
</section>

<!-- Define the template for an arbitrary board -->
<template id="myboard_template">
    <div class="w-full max-w-md py-4 px-8 bg-nav_grey shadow-lg rounded-lg my-20 flex flex-col justify-center">
        <div>
            <h3 class="text-jade text-3xl font-semibold">Temp Board Name</h3>
            <p class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dolores deserunt ea doloremque natus error, rerum quas odio quaerat nam ex commodi hic, suscipit in a veritatis pariatur minus consequuntur!</p>
        </div>
        <div class="flow-root mt-4">
            <button class="float-left">Unsubscribe</button>
            <a href="#" class="float-right text-xl font-medium text-chardonnay">View -></a>
        </div>
        </div>
</template>

<!-- Define the template for having no boards -->
<template id="myboard_noboards">
    <div class="w-full max-w-md bg-nav_grey rounded-lg justify-center">
        <p>
            You are not subscribed to any boards! <a href="findboard.html">Find a Board</a> to subscribe to!
        </p>
    </div>
</template>

<!-- Javascript to load the boards-->
<script src="/static/js/myboards.js"></script>

{% endblock %}
