<!DOCTYPE HTML>

<!-- This is the parent layout that all HTML pages inherit from. -->

<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>tac</title>

        <!-- jQuery dependency-->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>        

        <!-- Our own style sheet -->
        <link rel="stylesheet" href="../static/css/tailwind.css" />

        <!-- Our own JS -->
        <script src="/static/js/script.js"></script>
        <script src="/static/js/push.js"></script>

        <!-- Serves our app manifest -->
        <link rel="manifest" href="/static/manifest.json">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="application-name" content="tac">
        <meta name="apple-mobile-web-app-title" content="tac">
        <meta name="theme-color" content="#01A66F">
        <meta name="msapplication-navbutton-color" content="#01A66F">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="msapplication-starturl" content="/">
        <div class="hidden">Icon made from <a href="http://www.onlinewebfonts.com/icon">Icon Fonts</a> is licensed by CC BY 3.0</div>
        <link rel="icon" type="image/png" sizes="200x200" href="/static/images/tac_logo_icon.png">
        <link rel="apple-touch-icon" type="image/png" sizes="200x200" href="/static/tac_logo_small.png">
    </head>
    <body>
        <nav class="bg-jade shadow-2xl">

            {% set active_page = active_page|default('index') -%}

            <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
            <div class="relative flex items-center justify-between h-16">
                <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                <!-- Mobile menu button-->
                <button type="button" id="button-mobile-menu" class="inline-flex items-center justify-center p-2 rounded-md text-nav_grey transition duration-420 ease-in-out hover:text-chardonnay hover:bg-medium_aquamarine focus:outline-none focus:ring-2 focus:ring-inset focus:ring-nav_grey" aria-controls="mobile-menu" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <!--
                    Icon when menu is closed.
        
                    Heroicon name: outline/menu
        
                    Menu open: "hidden", Menu closed: "block"
                    -->
                    <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                    <!--
                    Icon when menu is open.
        
                    Heroicon name: outline/x
        
                    Menu open: "block", Menu closed: "hidden"
                    -->
                    <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
                </div>
                <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
                <div class="flex-shrink-0 flex items-center">
                    <img class="h-8 w-auto pr-1" src="static/images/tac_logo_small.jpg" alt="tac logo">
                    <h3 class="text-chardonnay text-2xl"><b>tac</b></h3>
                </div>
                <div class="hidden sm:block sm:ml-6">
                    <div class="flex space-x-4">
                    <a href="/home.html" class="text-nav_grey transition duration-420 ease-in-out hover:bg-medium_aquamarine hover:text-chardonnay px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Home</a>
                    
                    {% if is_authenticated %}
                        
                        {% if is_admin %}

                            <a href="/admin.html" class="text-nav_grey transition duration-420 ease-in-out hover:bg-medium_aquamarine hover:text-chardonnay px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Admin Panel</a>

                        {% endif %}

                        <a href="/findboard.html" class="text-nav_grey transition duration-420 ease-in-out hover:bg-medium_aquamarine hover:text-chardonnay px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Find a Board</a>

                        <a href="/createboard.html" class="text-nav_grey transition duration-420 ease-in-out hover:bg-medium_aquamarine hover:text-chardonnay px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Create a Board</a>

                        <a href="/myboards.html" class="text-nav_grey transition duration-420 ease-in-out hover:bg-medium_aquamarine hover:text-chardonnay px-3 py-2 rounded-md text-sm font-medium" aria-current="page">My Boards</a>

                        <a href="/logout" class="text-nav_grey transition duration-420 ease-in-out hover:bg-medium_aquamarine hover:text-chardonnay px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Logout</a>

                        <!-- The button to toggle notifications -->
                        <a id="push-button" class="text-nav_grey transition duration-420 ease-in-out hover:bg-medium_aquamarine hover:text-chardonnay px-3 py-2 rounded-md text-sm font-medium cursor-pointer" aria-current="page">Enable Notifications</a>
                    {% else %}
                        
                        <a href="/login.html" class="text-nav_grey transition duration-420 ease-in-out hover:bg-medium_aquamarine hover:text-chardonnay px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Login</a>

                        <a href="/register.html" class="text-nav_grey transition duration-420 ease-in-out hover:bg-medium_aquamarine hover:text-chardonnay px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Register</a>
                    
                    {% endif %}

                    </div>
                </div>
                </div>
            </div>
            </div>
        
            <!-- Mobile menu, show/hide based on menu state. -->
            <div class="hidden" id="mobile-menu">
            <div class="px-2 pt-2 pb-3 space-y-1">
                <a href="/home.html" class="text-nav_grey transition duration-420 ease-in-out hover:bg-medium_aquamarine hover:text-chardonnay block px-3 py-2 rounded-md text-base font-medium" aria-current="page">Home</a>

                {% if is_authenticated %}
                        
                        {% if is_admin %}

                            <a href="/admin.html" class="text-nav_grey transition duration-420 ease-in-out hover:bg-medium_aquamarine hover:text-chardonnay block px-3 py-2 rounded-md text-base font-medium" aria-current="page">Admin Panel</a>

                        {% endif %}

                        <a href="/findboard.html" class="text-nav_grey transition duration-420 ease-in-out hover:bg-medium_aquamarine hover:text-chardonnay block px-3 py-2 rounded-md text-base font-medium" aria-current="page">Find Board</a>

                        <a href="/createboard.html" class="text-nav_grey transition duration-420 ease-in-out hover:bg-medium_aquamarine hover:text-chardonnay block px-3 py-2 rounded-md text-base font-medium" aria-current="page">Create Board</a>

                        <a href="/myboards.html" class="text-nav_grey transition duration-420 ease-in-out hover:bg-medium_aquamarine hover:text-chardonnay block px-3 py-2 rounded-md text-base font-medium" aria-current="page">My Boards</a>

                        <a href="/logout" class="text-nav_grey transition duration-420 ease-in-out hover:bg-medium_aquamarine hover:text-chardonnay block px-3 py-2 rounded-md text-base font-medium" aria-current="page">Logout</a>

                        <!-- The button to toggle notifications -->
                        <a id="push-button-mobile" class="text-nav_grey transition duration-420 ease-in-out hover:bg-medium_aquamarine hover:text-chardonnay block px-3 py-2 rounded-md text-base font-medium cursor-pointer" aria-current="page">Enable Notifications</a>

                {% else %}

                    <a href="/login.html" class="text-nav_grey transition duration-420 ease-in-out hover:bg-medium_aquamarine hover:text-chardonnay block px-3 py-2 rounded-md text-base font-medium" aria-current="page">Login</a>

                    <a href="/register.html" class="text-nav_grey transition duration-420 ease-in-out hover:bg-medium_aquamarine hover:text-chardonnay block px-3 py-2 rounded-md text-base font-medium" aria-current="page">Register</a>

                {% endif %}

            </div>
            </div>
        </nav>

        <script type=text/javascript>
            // Setup global variables
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
            new BroadcastChannel("swbc").postMessage({"key": {{ username|tojson|safe }} });

            // Setup mobile hamburger menu
            const btn = document.querySelector("#button-mobile-menu");
            const menu = document.querySelector("#mobile-menu");

            // Add Event Listeners
            btn.addEventListener("click", () => {
                menu.classList.toggle("hidden");
            });
        </script>

        <!-- Setup alerting -->
        {% include "alerts.html" %}

        {% block content %}{% endblock %}
    </body>
</html>
