{% extends "parent_layout.html" %}
{% set active_page = "register" %}
{% block content %}

<!-- This is the register page where user enters username and 2x password fields and clicks button to register. -->

<!-- component -->
<div class="flex flex-col items-center justify-center pt-20 h-screen select-none">
    <div class="flex flex-col -mt-32 bg-nav_grey px-4 sm:px-6 md:px-8 lg:px-10 py-8 rounded-xl shadow-2xl w-full max-w-md  border-l-4 border-chardonnay">
        <div class="font-medium self-center text-4xl w-60 text-center p-6 text-jade">Register</div>
        <div class="mt-10">
            <form method="POST" action="" autocomplete="">
				{{ form.hidden_tag() }}                
                <div class="relative w-full mb-3">
					<h3 class="font-bold">Username <span class="text-red-600">*</span></h3>
                    <input type="text" name="username" id="usernameBox" class="border-2 border-jade hover:border-medium_aquamarine focus:border-chardonnay transition h-12 px-5 pr-16 rounded-md focus:outline-none w-full text-black text-lg shadow" placeholder="Username"/>
                </div>
                <div class="relative w-full mb-3">
					<h3 class="font-bold">Password <span class="text-red-600">*</span></h3>
                    <input type="password" name="password" id="passwordBox" class="border-2 border-jade hover:border-medium_aquamarine focus:border-chardonnay transition h-12 px-5 pr-16 rounded-md focus:outline-none w-full text-black text-lg shadow" placeholder="Password"/>
                </div>
				<div class="relative w-full mb-3">
					<h3 class="font-bold">Confirm Password <span class="text-red-600">*</span></h3>
                    <input type="password" name="confirm" id="confirmBox" class="border-2 border-jade hover:border-medium_aquamarine focus:border-chardonnay transition h-12 px-5 pr-16 rounded-md focus:outline-none w-full text-black text-lg shadow" placeholder="Confirm Password"/>
                </div>
                <div class="text-center mt-6">
                    <input type="submit" name="register" id="button-login" value="Submit Registration" class="p-3 rounded-lg bg-jade hover:bg-chardonnay outline-none text-white shadow w-46 justify-center focus:bg-chardonnay cursor-pointer">
                </div>  
                <div class="flex flex-wrap mt-6">
                    <div class="w-full text-right">
                        <a href="/login.html" class="text-madang hover:text-medium_aquamarine text-xl"><small>Log in instead?</small></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
