{% extends "parent_layout.html" %}
{% set active_page = "viewpost" %}
{% block content %}

<!-- This is the page for when a user views a single post. Allow to upvote post.-->

<!-- Needs subject, description, post date, post owner username, raw upvote count, upvote percent of community, a button to go back to the board, an upvote button -->
<section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12">
    <a href="viewboard.html" class="text-chardonnay hover:text-medium_aquamarine font-bold">&#8592; Go Back</a>
    <div class="pb-12 pt-2 relative">
        <h1 class="font-bold text-3xl md:text-4xl lg:text-5xl font-heading">
            Post Subject
        </h1>
        <h5 class="font-bold text-xl md:text-2xl lg:3xl font-heading">
            <span class="text-medium_aquamarine">Board Name</span>
        </h5>
        <div class="font-bold">
            <h6>
                Posted on: <span class="text-madang">Date</span>
            </h6>
            <h6>
                Posted by: <span class="text-madang">Username</span>
            </h6>
            <h6>
                Upvote count: <span class="text-madang">Raw Count</span>
            </h6>
            <h6>
                Upvote percentage: <span class="text-madang">00%</span>
            </h6>
        </div>
        <br>
        <p> <!-- Description -->
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <br>
        <button class="float-left text-xl transform motion-safe:hover:scale-110 text-chardonnay hover:text-medium_aquamarine focus:ring-2 focus:ring-jade">Upvote &#8593;</button>
    </div>
</section>

{% endblock %}
