{% extends "parent_layout.html" %}
{% set active_page = "viewboard" %}
{% block content %}

<!-- This is the page for when a user views a single board. Show posts within the board. Allow to upvote post.-->
<!-- Posts should have subject, creator's username, creation date, upvotes percentage, and button to vote on it, and button to view it-->

<!-- Define the general layout -->
<section class="hidden max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12" id="board-content">
    <div class="text-center pb-12 pt-2 relative">
        <h1 class="text-jade font-bold text-3xl md:text-4xl lg:text-5xl font-heading" id="board_name_header">

        </h1>
        <h2 id="board_desc_header" class="text-medium_aquamarine font-semibold font-heading">

        </h2>
        <h5 id="board_vote_threshold" class="text-chardonnay">

        </h5>
        <div>
            <input type="checkbox" checked id="show-notified" name="show-notified" value="Show notified posts">
            <label for="show-notified">Show notified posts</label>
            <input type="checkbox" checked id="show-unnotified" name="show-unnotified" value="Show un-notified posts">
            <label for="show-unnotified">Show unnotified posts</label>
        </div>
        <div>
            <button id="subscribe" class="transition duration-420 ease-in-out mt-4 p-2 rounded-lg bg-jade hover:bg-chardonnay outline-none text-white shadow justify-center focus:bg-chardonnay cursor-pointer">
                Subscribe
            </button>
            <button id="create-new-post" class="transition duration-420 ease-in-out mt-4 p-2 rounded-lg bg-jade hover:bg-chardonnay outline-none text-white shadow justify-center focus:bg-chardonnay cursor-pointer">
                Create New Post
            </button>
        </div>
    </div>
    <div class="grid place-items-center justify-center grid-cols-1 gap-4" id="boardpost_section"></div>
</section>

<!-- Define the template for an arbitrary board -->
<template id="boardpost_template">
    <div class="w-full py-4 px-8 bg-nav_grey shadow-lg rounded-lg flex flex-col justify-center">
        <div>
            <h3 id="post_title" class="text-jade text-3xl font-semibold">Post Subject</h3>
            <h5 id="upvote_percentage"></h5>
            <h5 id="creation_date">04/20/2069</h5>
            <p hidden class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dolores deserunt ea doloremque natus error, rerum quas odio quaerat nam ex commodi hic, suscipit in a veritatis pariatur minus consequuntur!</p>
        </div>
        <div class="flow-root mt-4">
            <a id="post_link" href="#" class="transition duration-420 ease-in-out float-right text-xl font-medium text-chardonnay hover:text-medium_aquamarine">View Post &#8594;</a>
        </div>
    </div>
</template>

<!-- Define the template for having no boards -->
<template id="boardpost_noposts">
    <div class="w-full max-w-md rounded-lg justify-center">
        <p class="font-bold text-center">
            No posts found. Click "Create New Post" to make a post!
        </p>
    </div>
</template>

<script src="/static/js/viewboard.js"></script>
{% endblock %}
